<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335691677028-19o9aa54mvjkb6u266866lcrc26iukkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335691677028-19o9aa54mvjkb6u266866lcrc26iukkv</string>
	<key>API_KEY</key>
	<string>AIzaSyDtb9QSzH7TKW8ew4TuN1lchWz7XJLRxCY</string>
	<key>GCM_SENDER_ID</key>
	<string>335691677028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>haju.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-86c3a</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-86c3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335691677028:ios:47f2710491ada25804ce71</string>
</dict>
</plist>